name: CoreAPI CI/CD

on:
  workflow_dispatch:
  push:

permissions:
  contents: read
  packages: write

jobs:
  APIs-cicd:
    uses: mairie360/CICD/.github/workflows/APIs_cicd.yml@feat/mair-6-add-cd-for-back-apis
    permissions:
          contents: write
          packages: write
          id-token: write
    with:
      postman_collection: ${{ vars.POSTMAN_CORE_API_COLLECTION_ID }}
      postman_environment: ${{ vars.POSTMAN_CORE_API_ENV_ID }}
      package_name: core-api
    secrets: inherit
